html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: black; //#0c0c1d;
  color: lightgray;
}
.course {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .box {
    width: 200px;
    height: 200px;
    background-color: white;
  }
}
.hero{
  background: linear-gradient(180deg, black, #0c0c1d);
}
.services {
  background: linear-gradient(180deg, #0c0c1d, black);
}
.portfolio {
  background: linear-gradient(180deg, black, #0c0c1d);
}
